body {
    background-image: url('https://img.freepik.com/free-vector/flat-design-clothing-store-logo-design_23-2149496415.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}
